* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .photo-grid-item {
    width: 50%;
    height: 195px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .photo-grid-item {
    width: 33.3%;
    height: 300px;
  }
}

.lab-header {
  background-color: rgb(139, 72, 0);
  padding: 5px;
}

.menu-container {
  color: #fff;
  background-color: #b3450086;
  /* Blue */
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.menu {
  border: 1px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: 25px;
}

.links {
  border: 1px;
  display: flex;
  justify-content: flex-end;
}

.database-demos {
  margin-left: auto;
}

.main-page {
  margin-left: 20px;
}

body{
  background-color: #b345003f;
}

.header {
  width: 900px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 80%;
  margin: 40px auto;
  background: #b345003f;
}

table.list {
  text-align: center;
  width: 100%;
}

td {
  border: 1px solid rgb(139, 72, 0);
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
  background-color: rgb(139, 72, 0);
}

input[type="text"], 
input[type="number"] {
  width: 91%;
  padding:12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(139, 72, 0);
  border-radius: 4px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #b345003f;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  background: #fff;
}

input[type="reset"]:hover {
  background: #fff;
}

button {
  background-color: #ebc4ab;
  padding: 6px 12px;
  margin: 15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #fff;
}